html,
body {
  background: url('../img/darkwood.jpg') no-repeat center center fixed;
  background-size: cover;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.border-bot-secondary {
  border-bottom: 1px solid teal;
}
.border-bot-main {
  border-bottom: 1px solid #03221f;
}
a {
  color: #00b3b3;
}
#mainVideoContainer {
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
video {
  margin: 5px 0;
}
div[client-video] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
#localVideo {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 2px;
}
.col:first-child {
  -webkit-box-flex: 3!important;
  -webkit-flex: 3 2 20em!important;
      -ms-flex: 3 2 20em!important;
          flex: 3 2 20em!important;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.col:last-child {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.4%;
}
#sideChat {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 1%;
  background-color: transparent;
}
.well {
  margin-bottom: 2px;
}
.well:last-child {
  margin-bottom: 48px;
}
form[name="chatForm"] {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin-bottom: 0;
  position: fixed;
  bottom: -30px;
}
.chat-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bubble {
  display: inherit;
}
.bubble:last-child {
  margin-bottom: 10px;
}
div.bubble > blockquote {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #f5f5f5;
  /* RGBa with 0.1 opacity */
  background-color: rgba(245, 245, 245, 0.1);
  /*IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  word-wrap: break-word;
  min-width: 40%;
  max-width: 70%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  padding: 10.5px 21px;
  margin: 0 0 10px;
  border-left: 5px solid #1967be;
  border-right: 5px solid #1967be;
  border-radius: 5px;
}
div.bubble.to-right > blockquote {
  border-right: 5px solid #7e3f9d;
  border-left: 5px solid #7e3f9d;
  text-align: right;
  margin-left: auto;
}
blockquote > p {
  font-size: 23px;
  font-weight: bold;
  color: floralwhite;
}
