.navbar {
  border-radius: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.border-bot-secondary {
  border-bottom: 1px solid crimson;
}
.border-bot-main {
  border-bottom: 1px solid #03221f;
}
a {
  color: #ed365b;
}
.bg-main {
  background-color: #03221f;
}
#mainVideoContainer {
  background-color: black;
}
video {
  float: left;
  margin: 5px;
}
#localVideo {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}
