@theme-main-color: #03221F;
@theme-secondary-color: crimson;

.navbar {
  border-radius: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.border-bot-secondary {
  border-bottom: 1px solid @theme-secondary-color;
}

.border-bot-main {
  border-bottom: 1px solid @theme-main-color;
}

a {
  color: lighten(@theme-secondary-color, 10%);
}

#mainVideoContainer {
  background: url('../img/dark_dotted2.png');
}

video {
  float: left;
  margin: 5px;
}

#localVideo
{
  /*position: absolute;*/
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  /*bottom: 20px;
  right: 20px;
  z-index: 1;*/
}
/*

div[client-video] {
  position: relative;
  width: 100%;
}

#remoteVideo {
  position: relative;
  z-index: 0;
}*/
