@theme-main-color: #03221F;
@theme-secondary-color: crimson;

.navbar {
  border-radius: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.border-bot-secondary {
  border-bottom: 1px solid @theme-secondary-color;
}

.border-bot-main {
  border-bottom: 1px solid @theme-main-color;
}

a {
  color: lighten(@theme-secondary-color, 10%);
}

#mainVideoContainer {
  background: url('../img/dark_dotted2.png');
}

video {
  float: left;
  margin: 5px;
}

#localVideo
{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.well {
  margin-bottom: 2px;
}

.well:last-child {
  margin-bottom: 48px;
}
#chatInput,
#chatBtn {
  border-radius: 0;
}

form[name="chatForm"] {
  transition: all 0.5s ease;
  margin-bottom: 0;
  position: fixed;
  bottom: -30px;
  &:hover {
    transition: all 0.5s ease;
    bottom: 0;
  }
}