<div class = 'row text-center' id="mainVideoContainer">
    <div class = 'col-md-12' client-video></div>
    <form name="callForm">
        <input type="text" class="input-sm" ng-model="answerer.id">
        <button class="btn btn-primary" ng-click="call(answerer.id)">Call Peer</button>
        <a ui-sref=".chat" class="btn btn-primary">Chat</a>
        <a ui-sref=".tutorial" class="btn btn-danger">Tutorial</a>
    </form>
</div>

<div class="row">
    <div class="col-md-12" ui-view></div>
</div>

